.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;

  font: inherit;
  cursor: pointer;
  background-color: #2273c5;
  color: inherit;

  transition: background-color 250ms linear, color 250ms linear,
    transform 250ms linear;
}

.btn.selected {
  background-color: #1976d2;
  color: #fff;
}

.btn:hover {
  background-color: #1976d2;
  color: #fff;
  transform: scale(1.05);
}

.btn:active {
  background-color: #1565c0;
  color: #fff;
}
